<div class="page-header">
  <h1>Player Projection #<%= @player_projection.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Player</dt>
  <dd><%= @player_projection.player %></dd>

  <dt>Team</dt>
  <dd><%= @player_projection.team %></dd>

  <dt>Position</dt>
  <dd><%= @player_projection.position %></dd>

  <dt>Completions</dt>
  <dd><%= @player_projection.completions %></dd>

  <dt>Pass yds</dt>
  <dd><%= @player_projection.pass_yds %></dd>

  <dt>Pass td</dt>
  <dd><%= @player_projection.pass_td %></dd>

  <dt>Interceptions</dt>
  <dd><%= @player_projection.interceptions %></dd>

  <dt>Rush yds</dt>
  <dd><%= @player_projection.rush_yds %></dd>

  <dt>Rush td</dt>
  <dd><%= @player_projection.rush_td %></dd>

  <dt>Receptions</dt>
  <dd><%= @player_projection.receptions %></dd>

  <dt>Rec yds</dt>
  <dd><%= @player_projection.rec_yds %></dd>

  <dt>Rec td</dt>
  <dd><%= @player_projection.rec_td %></dd>

  <dt>Fumbles</dt>
  <dd><%= @player_projection.fumbles %></dd>

</dl>
