<div class="page-header">
  <h1><%= @league.league_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>League name</dt>
  <dd><%= @league.league_name %></dd>

  <dt>Qb start</dt>
  <dd><%= @league.QB_start %></dd>

  <dt>Rb start</dt>
  <dd><%= @league.RB_start %></dd>

  <dt>Wr start</dt>
  <dd><%= @league.WR_start %></dd>

  <dt>Te start</dt>
  <dd><%= @league.TE_start %></dd>

  <dt>Flex start</dt>
  <dd><%= @league.Flex_start %></dd>

  <dt>K start</dt>
  <dd><%= @league.K_start %></dd>

  <dt>Def start</dt>
  <dd><%= @league.Def_start %></dd>

  <dt>Start percent</dt>
  <dd><%= @league.Start_percent %></dd>

  <dt>Teams</dt>
  <dd><%= @league.Teams %></dd>

  <dt>Budget</dt>
  <dd><%= @league.Budget %></dd>

  <dt>Bench</dt>
  <dd><%= @league.Bench %></dd>

  <dt>Patd</dt>
  <dd><%= @league.PaTd %></dd>

  <dt>Payd</dt>
  <dd><%= @league.PaYd %></dd>

  <dt>Paint</dt>
  <dd><%= @league.PaInt %></dd>

  <dt>Rutd</dt>
  <dd><%= @league.RuTd %></dd>

  <dt>Ruyd</dt>
  <dd><%= @league.RuYd %></dd>

  <dt>Rec</dt>
  <dd><%= @league.Rec %></dd>

  <dt>Rectd</dt>
  <dd><%= @league.RecTd %></dd>

  <dt>Reyd</dt>
  <dd><%= @league.ReYd %></dd>

  <dt>Fum</dt>
  <dd><%= @league.Fum %></dd>

  <dt>Comp</dt>
  <dd><%= @league.Comp %></dd>

</dl>
